@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
body {
  background-color: black;
  color: white; /* যাতে টেক্সট সাদা দেখা যায় */
}

html, body, #__next {
  height: 100%;
}

